@media screen and (min-width: 576px) {
  .header_corner_right_midlle {
    width: 10vw;
    height: 60%;
    top: 18%;
    div {
      margin: 15px 0px;
      width: 5.5vw;
      height: 5.5vw;
      a {
        font-size: 2.3vw;
      }
    }
  }
}
