@media screen and (min-width: 768px) {
  .header_corner_right_midlle {
    width: 8vw;
    height: 65%;
    div {
      width: 4.5vw;
      height: 4.5vw;
      a {
        font-size: 1.99vw;
      }
    }
  }
}
