.button {
  z-index: 99;
  cursor: pointer;
  right: 5%;
  position: absolute;
  svg {
    width: 35px;
    height: 35px;
  }
}
@media screen and (min-width: 320px) {
  .button {
    display: block;
  }
}
@media screen and (min-width: 993px) {
  .button {
    display: none;
  }
}
